.square {
     margin: 5px;
     align-items: center;
     justify-content: center;
     -moz-border-radius: 5px; 
     border-radius: 10px;
     border: 1px solid #fff;
     -webkit-box-shadow: 0 0 5px #222;
     -moz-box-shadow: 0 0 5px #222;
     box-shadow: 0 0 5px #222;
}

.square--h50 {
  width:95%;
  height:35px;
}

.square--w150h150 {
  width:145px;
  height:145px;
}

.square--w300h150 {
  width:300px;
  height:145px;
}

.square--w300h300 {
  width:300px;
  height:300px;
}

.state-green {
  background: #cfe485;
  background:-moz-radial-gradient(center, #cfe485, #6f9b0a); /* FF3.5+ */
  background:-webkit-gradient(radial, 50% 50%, 50, 50% 50%, 250, from(#cfe485), to(#6f9b0a)); /* Saf3.1+, Chrome */
}

.state-red {
  background: #a90329;
  background:-moz-radial-gradient(center, #a90329, #a90329); /* FF3.5+ */
  background:-webkit-gradient(radial, 50% 50%, 50, 50% 50%, 250, from(#a90329), to(#650C20)); /* Saf3.1+, Chrome */
}

.state-blue {
  background: #2255B1;
  background:-moz-radial-gradient(center, #1889CC, #0C3865); /* FF3.5+ */
  background:-webkit-gradient(radial, 50% 50%, 50, 50% 50%, 250, from(#1889CC), to(#0C3865)); /* Saf3.1+, Chrome */
}

.state-gray {
  background: #959A84;
  background:-moz-radial-gradient(center, #D8D8D8, #9E9E9E); /* FF3.5+ */
  background:-webkit-gradient(radial, 50% 50%, 50, 50% 50%, 250, from(#D8D8D8), to(#9E9E9E)); /* Saf3.1+, Chrome */
}

.text-color-white {
     color: #E2D5D5;
}
.text-color-black {
     color: #000000;
}

.text-big {
     font-size: 30px;
}

.text-medium {
     font-size: 24px;
}

.text-small {
     font-size: 20px;
}

.status-header-text {
     margin:10px auto;
     font-family: 'Helvetica Neue', sans-serif;
     font-weight: bold;
     letter-spacing: -1px;
     line-height: 1;
     text-align: center;
}

.status-second-text {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     line-height: 32px;
     margin: 0 0 32px;
     text-align: center;
}

.status-third-text {
     font-family: 'Helvetica Neue', sans-serif;
     text-align: center;
}

.text-shortened {
     white-space: nowrap !important;
     overflow: hidden !important;
     text-overflow: ellipsis !important;
     width:250px;
}

.budi-label {
     display: inline-block;
     padding: .2em .6em .3em;
     font-size: 75%;
     font-weight: 700;
     line-height: 1;
     color: #fff;
     text-align: center;
     vertical-align: baseline;
     border-radius: .25em;
     overflow: hidden !important;
}
