.margin-left-5 {
     margin-left:15px;font-size: 14px;
}

.margin-left-60 {
     margin-left:60px;
}

.icon-button {
     cursor :pointer;
     float:right;
}

.text-align-left {
     text-align:left;
}

.float-left {
     float:left;
}

.float-right {
     float:right;
}

.margin-right-3px {
     margin-right:3px;
}
.margin-right-10px {
     margin-right:10px;
}

.list-group-item {
     padding-top: 5px;
     padding-bottom: 5px;
}

.constant-width-350 {
     width: 350px;
}

.text-shortened {
     max-width:400px; /* Customise it accordingly */
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

hr {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #EEEEEE -moz-use-text-color #FFFFFF;
     border-style: solid none;
     border-width: 1px 0;
     margin: 18px 0;
}

.bordered-box {
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     border-radius: 0px 0px 5px 5px;
     padding: 10px;
     padding-bottom: 35px;
}

.pic-img {
     height:100%;
     width:100%;
}

.text-box {
     padding: 15px;
}

.colorgraph {
     height: 5px;
     border-top: 0;
     background: #c4e17f;
     border-radius: 5px;
     background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
     background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
     background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
     background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.div-hoverable:hover {
     background-color:#D6D6D6;
     cursor: pointer;
}
