.padding-bottom {
     margin-bottom:70px;
}

.divider-vertical {
     height: 40px;
     margin: 5px 9px;
     border-left: 1px solid rgb(222, 222, 222);
     border-right: 1px solid rgb(255, 255, 255);
}

.navbar {
     min-height:32px !important;
}

.navbar-btn {
     margin-top: 8px !important;
     margin-bottom: 6px !important;
}

.navbar-brand {
     padding-right: 20px;
     padding-top: 8px;
     height:32px;
}

.navbar-toggle {
     padding:0px;
}
